.postContainer{
    margin-left: 20rem;
    border: 2px solid blue;
    border-radius: 4rem;
    padding: 0.5rem;
    /* display: flex; */
    overflow: auto;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 55rem;
    max-height: 30rem;
}
.postLeft{
    float: left;
    /* max-width: 50rem; */
}

.profilepic{
    margin-left: 3rem;
    float: left;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    
}

.postHeading{
    margin-top: 2rem;
    background-color: bisque;
    max-width: 34em;
    height: 1.5em;
    margin-left: 4em;
    /* padding: 1em; */
    text-align: center;
}

.postpic{
    margin-left: 4em;
    margin-top: 0.5em;
    
    max-height: 40em;
}

.commentBtn{
    float: right;
    margin-right: 23%;
    margin-top: 2.5%;
}

.likeBtn{
    margin-left: 10%;
    margin-top: 2.5%;
}

.postDescription{
   float: right;
   background-color: bisque;
   width: 12rem;
   height:20em;
   /* max-width:45rem; */
   float: left;
   margin-left: 2rem;
   margin-top: 5rem;
   /* margin-right: 5rem; */
   text-align: center;
   /* margin-top: 5%; */
}

